:root {
  --pr-color: #3B6790;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
/* navbar style */
.navbar {
  z-index: 3;
}

/* navbar color */
.nav-color {
  background-color: #3B6790;
  transition: all-ease-in-out .3s ;
  opacity: 80%;
}
.nav-logo h1{
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  
}



.bg-transparent {
  transition: all-ease-in-out .3s ;
}

*{
  z-index: 2;
}


.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.nav-link.active {
  font-weight: 700;
}


/* hero section style */

#hero {
  
  height: 80vh;
  width: 100%;
  
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url(../assets/img/herobg.jpg);
  

}


.hero-tagline h2 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-top: 50px;
}
.hero-tagline p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 20px;
  width: 85%;
}
.button-lg-primary {
  width: 230px;
  height: 40px;
  background-color: #3B6790;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
.accsent-img {
  z-index: 1;
}
.img-hero {
  z-index: 1;
}
/* layanan section */

#layanan {
  padding: 20px 20px 20px 20px;
  margin-top: 80px;
}
.gambarsection{
  width: 100%;
}
.section-tagline {
  padding-left: 30px;
}

.section-tagline h2 {
  margin-top: 20px;
  color: #0e2944;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
}
.section-tagline p {
  font-size: 14px;
  color: #0e2944;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 20px;
  
}
h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--pr-color);
}

.sub-title {
  font-size: 18px;
  color: #000;

}
.card-layanan {
  width: 400px;
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0,0,0,0.05);
  transition: all .2s ease-in;

}
.circle-icon {
  
  background-color: var(--pr-color);
  border-radius: 10px;
  transition: all .1s ease-in;
}
.card-layanan h3{
  color: var(--pr-color);
  font-size: 24px;
  transition: all .2s ease-in;

}
.card-layanan p {
  color: #000;
  font-size: 14px;
  transition: all .3  s ease-in;
}
.btn-link{
  text-decoration: none;
  color: #fff;
}

/* tabs section */

  
#search{
  padding-top: 100px;

  .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-bottom: 4px solid black;
    border-right: 4px solid #fff;
  }
  .nav-link.active {
    font-size: 18px;
    font-weight: 800;
    color: #3B6790;
    border-bottom: 6px solid #3B6790;
    border-right: 4px solid #fff;
  }
}
#search h1{
  font-weight: 600;
  font-size: 40px;
}
#search h5{
  font-size: 16px;
}


.text-osc h2 {
  color: #000;
  font-weight: 600;
  font-size: 35px;
  margin-top: 45px;
  
}
.text-osc p {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 20px;
  
  
}
.gambartabs{
  width: 80%;
  margin-top: 45px;
  box-shadow: 0 0 7px 3px rgba(0,0,0,0.4);
}

/* mengapa section */
#mengapa {
  padding: 100px 0;
  margin-top: 30px;
}
.head-mgp h2 {
  font-size: 35px;
  font-weight: 600;
  color: #000;
}
.card-mgp {
  /* width: 400px;
  height: 313px; */
  /* border-radius: 5px; */
  /* background-color: #fff; */
  padding: 20px;
  /* box-shadow: 0 0 7px 3px rgba(0,0,0,0.05); */
  width: 100%;

}
.card-mgp h3 {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  
}
.card-mgp p{
  font-size: 13px;
}
.mgp-icon {
  width: 50px;
  
}
/* jangkauan section */
#jangkauan {
  margin-top: 20px;
}
.gambarjangkauan {
  width: 80%;
  border-radius: 5px;
  background-color: #fff;
  
  box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
  
}
.section-jangkauan h2 {
  
  color: #0e2944;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
}
.section-jangkauan p {
  font-size: 18px;
  color: #0e2944;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 24px;
  width: 90%;
}
/* mitra section */
#mitra {
  margin-top: 100px;
}
#mitra h2{
  font-size: 35px;
  font-weight: 600;
  color: #000;
}
.card-fitur {
  background-color: #3B6790;
  width: 260px;
  height: 225px;
  border-radius: 10px;
  margin-right: 19px;
  margin-top: 30px;
}
.img-mitra {
  width: 35px;
  height: auto;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card-mitra h5 {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin: 30px 20px 0px 20px;
  
}

.card-mitra h6 {
  text-align: right;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 13px;
}
.btn-mitra {
  background-color: #3B6790;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/* contact */
#contact {
  width: 100%;
  height: 50vh;
  margin-top: 50px;
  
}
         

#contact h2 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
#contact p {
  font-size: 18px;
  margin-top: 20px;
  color: #000;
  
}
.btn-contact{
  margin-top: 30px;
  margin-bottom: 40px;
}

/* footer */

footer {
  width: 100%;
  height: 280px;
  background-color: #3B6790;
  
}
.copyright {
  bottom: 1%;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 11px;
  

}
.text-worka:link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  
  
  
}
.text-worka h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #FFFFFF;
  
  
}



.footer-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 11px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 70px; 
}
.footer-font h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

  
  color: #FFFFFF;
  text-decoration: none; 
}
#visi {
  margin-top: 60px;
}
.visi-sec h2{
  font-size: 45px;
  color: #000;
}
.visi-sec p {
  font-size: 15px;
  
}
.tkh{
  margin-top: 50px;
}
.tkh-icon {
  width: 200px;
  border-radius: 50%;
}
.tkh-text {
  margin-top: 100px;
}

#contact-us {
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#contact-us .container {
  padding: 80px 35px 80px 35px ;
  background-color: #0e2944;
  border-radius: 20px;

}
#contact-us h3 {

  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  width: 470px;
}
#contact-us h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 19px 0 14px 0 ;
}

.kontak a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 18px;
  width: 152px;
  display: inline-block;

}
.linkworka {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;

}
.card-contact {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-color: #0e2944;
  border-radius: 5px;
  padding: 0px 48px;  
}
.card-contact h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: left;
  margin-bottom: 21px;
  color: #fff;
}
.form-control {
  height: 40px !important;
  background: #D9D9D9;
  border-radius: 5px;
}
.form-pesan {
  height: 80px !important;
  
  width: 100%;
  
}

.form-floating label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #717171;

}
.rekrutment{
  margin-top: 65px;
}
.rekrutment h2{
  font-size: 45px;
  color: #000;
}
.rekrutment p{
  margin-bottom: 25px;
}
.gambar-rekrutment {
  width: 100%;
  margin-bottom: 50px;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}